vars-private.yml
vars-private.yaml
authorized_keys
qbittorrent.conf
prometheus-pve-exporter-conf.yml
grafana.ini
cert-proxmox.crt
cert-proxmox-backup.crt
cert-cloudflare-origin.pem
cert-cloudflare-origin.key
pass
ops.json
dashy-conf.yml
traefik.yml
pbs-proxmox-backup.sh
*.pem
mailspring-config.json
matlab*
wg0.conf
wg-dashboard.ini
