vars-private.yml
authorized_keys
qbittorrent.conf
prometheus-pve-exporter-conf.yml
grafana.ini
cert-proxmox.crt
cert-proxmox-backup.crt
cert-cloudflare-origin.pem
cert-cloudflare-origin.key
auth.txt
ops.json
dashy-conf.yml
wg0.conf
traefik.yml
pbs-file-backup.sh