#!/bin/sh
export PBS_PASSWORD="{{ pbs_password }}"
export PBS_FINGERPRINT="{{ pbs_fingerprint }}"
export PBS_LOG="warn"
export PXAR_LOG="warn"

/usr/bin/proxmox-backup-client backup file-share.pxar:/media/file-share lxc-config.pxar:/etc/pve/lxc --repository root@pam@192.168.178.108:main
