[Unit]
Description={{ item.description }}
RequiresMountsFor={{ item.requires }}
Requires=NetworkManager.service dbus.service wpa_supplicant.service
After=NetworkManager.service dbus.service wpa_supplicant.service

[Mount]
What={{ item.what }}
Where={{ item.where }}
Type=cifs
Options=uid=tychob,gid=tychob,_netdev,nofail,credentials=/etc/cifspasswd
TimeoutSec=10

[Install]
WantedBy=multi-user.target
