[Account]
username = admin
password = {{ wireguard_password }}

[Server]
wg_conf_path = /etc/wireguard
app_ip = 192.168.1.102
app_port = 10086
auth_req = true
version = v3.0.6
dashboard_refresh_interval = 60000
dashboard_sort = status

[Peers]
peer_global_dns = 1.1.1.1
peer_endpoint_allowed_ip = 0.0.0.0/0
peer_display_mode = grid
remote_endpoint = 172.26.17.151
peer_mtu = 1420
peer_keep_alive = 21