[Account]
username = {{ role_dashboard_admin }}
password = {{ role_wireguard_private_key_hash || role_dashboard_password | password_hash('sha256') }}

[Server]
wg_conf_path = /etc/wireguard
app_ip = {{ role_dashboard_address }}
app_port = {{ role_dashboard_port }}
auth_req = true
version = v3.0.6
dashboard_refresh_interval = 60000
dashboard_sort = status

[Peers]
peer_global_dns = {{ role_global_dns }}
peer_endpoint_allowed_ip = 0.0.0.0/0
peer_display_mode = grid
remote_endpoint = 172.26.17.151
peer_mtu = 1420
peer_keep_alive = 21
