[Unit]
After=network.service

[Service]
WorkingDirectory={{ role_dashboard_install_location }}/src
ExecStart=/usr/bin/python3 {{ role_dashboard_install_location }}/src/dashboard.py
Restart=always

[Install]
WantedBy=default.target
