[Unit]
After=network.service

[Service]
WorkingDirectory=/src/wg-dashboard/src
ExecStart=/usr/bin/python3 /src/wg-dashboard/src/dashboard.py
Restart=always


[Install]
WantedBy=default.target
